::-webkit-scrollbar{
  width: 7.5px;
}
::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 5px;
}

html{
  scroll-behavior: smooth;
  width: 100vw;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#map{
  height: 30vh;
  width: 75vw;
  border: none;
}

